pexpect==4.9.0
decorator==5.1.1
traitlets==5.14.3
nest-asyncio==1.6.0
ptyprocess==0.7.0
pyzmq==26.2.1
parso==0.8.4
debugpy==1.8.12
jedi==0.19.2
ipython==8.32.0
jupyter_client==8.6.3
asttokens==3.0.0
appnope==0.1.4
executing==2.2.0
stack-data==0.6.3
psutil==6.1.1
jupyter_core==5.7.2
wcwidth==0.2.13
comm==0.2.2
pure_eval==0.2.3
matplotlib-inline==0.1.7
prompt_toolkit==3.0.50
ipykernel==6.29.5
fpdf==1.7.2
orjson==3.10.16
opentelemetry-semantic-conventions==0.55b1
Cython==3.0.12
langchain==0.3.21
langgraph-checkpoint==2.0.23
starlette==0.46.2
multitasking==0.0.11
Pygments==2.19.1
pandas==2.2.3
idna==3.10
mistune==3.1.1
yfinance==0.2.52
zstandard==0.23.0
google-api-python-client==2.166.0
pytest-cov==6.0.0
pyasn1_modules==0.4.1
kiwisolver==1.4.8
fpdf2==2.8.2
outcome==1.3.0.post0
pillow==11.1.0
fonttools==4.55.8
lxml==5.3.0
toml==0.10.2
vertexai==1.71.1
webencodings==0.5.1
grpcio==1.71.0
tinycss2==1.4.0
pydeck==0.9.1
pip==25.1.1
google-cloud-core==2.4.3
anyio==4.9.0
defusedxml==0.7.1
graphql-core==3.2.6
requests==2.32.3
frozenlist==1.5.0
graphene==3.4.3
openpyxl==3.1.5
httpx-sse==0.4.0
cachetools==5.5.1
alembic==1.16.1
blinker==1.9.0
google-generativeai==0.8.4
soupsieve==2.6
google-cloud-aiplatform==1.71.1
simfin==1.0.1
dateparser==1.2.1
markdown-it-py==3.0.0
pytest==8.3.4
ormsgpack==1.9.1
seaborn==0.13.2
mypy-extensions==1.0.0
h11==0.14.0
GitPython==3.1.44
huggingface-hub==0.29.3
serpapi==0.1.5
langchain-core==0.3.49
joblib==1.4.2
et_xmlfile==2.0.0
korean-lunar-calendar==0.3.1
typing-inspect==0.9.0
python-binance==1.0.29
itsdangerous==2.2.0
PySocks==1.7.1
python-http-client==3.3.7
patsy==1.0.1
setuptools==75.8.2
iniconfig==2.0.0
beautifulsoup4==4.13.3
rich==13.9.4
google-resumable-media==2.7.2
tqdm==4.67.1
uritemplate==4.1.1
urllib3==2.3.0
scikit-learn==1.6.1
google-auth-httplib2==0.2.0
pandocfilters==1.5.1
selenium==4.28.1
google-cloud-bigquery==3.31.0
protobuf==5.29.3
fastjsonschema==2.21.1
jsonpatch==1.33
click==8.1.8
typing-inspection==0.4.0
jsonpointer==3.0.0
setproctitle==1.3.6
multidict==6.2.0
docstring_parser==0.16
scipy==1.15.1
plotly==6.0.0
tenacity==9.0.0
jsonschema==4.23.0
langgraph-sdk==0.1.60
nbformat==5.10.4
pyasn1==0.6.1
Jinja2==3.1.5
lightgbm==4.5.0
threadpoolctl==3.5.0
polars==1.22.0
dataclasses-json==0.6.7
websockets==14.2
Werkzeug==3.1.3
pydantic_core==2.33.0
coverage==7.6.12
python-dotenv==1.0.1
xxhash==3.5.0
mlflow==3.1.0
nbconvert==7.16.6
pyluach==2.2.0
referencing==0.36.2
fsspec==2025.3.1
Flask==3.1.1
regex==2024.11.6
sendgrid==6.11.0
peewee==3.17.9
google-ai-generativelanguage==0.6.16
graphql-relay==3.2.0
google-crc32c==1.7.1
nbclient==0.10.2
gitdb==4.0.12
sniffio==1.3.1
langsmith==0.3.20
pydantic-settings==2.8.1
google-cloud-storage==2.19.0
jsonschema-specifications==2024.10.1
matplotlib==3.10.0
mdurl==0.1.2
aiohttp==3.11.14
python-dateutil==2.9.0.post0
grpc-google-iam-v1==0.14.2
jupyterlab_pygments==0.3.0
googlesearch-python==1.3.0
yarl==1.18.3
gunicorn==23.0.0
charset-normalizer==3.4.1
sortedcontainers==2.4.0
rsa==4.9
packaging==24.2
pandas_market_calendars==4.6.1
tzlocal==5.3.1
antlr4-python3-runtime==4.9.3
Mako==1.3.10
html5lib==1.1
certifi==2025.1.31
langchain-community==0.3.20
tzdata==2025.1
xgboost==2.1.3
toolz==1.0.0
fake-useragent==2.0.3
pipreqs==0.4.13
fastapi==0.115.12
trio-websocket==0.11.1
docopt==0.6.2
sentry-sdk==2.30.0
httpcore==1.0.7
pyee==12.1.1
trio==0.28.0
cycler==0.12.1
numpy==2.2.2
filelock==3.18.0
pluggy==1.5.0
google-cloud-resource-manager==1.14.2
opentelemetry-sdk==1.34.1
imbalanced-learn==0.13.0
google-auth==2.38.0
langgraph-prebuilt==0.1.7
statsmodels==0.14.4
streamlit-cookie-banner==0.1.0
tornado==6.4.2
cloudpickle==3.1.1
pyparsing==3.2.1
playwright==1.50.0
google==3.0.0
langchain-text-splitters==0.3.7
mlflow-skinny==3.1.0
aiohappyeyeballs==2.6.1
yarg==0.1.10
requests-toolbelt==1.0.0
contourpy==1.3.1
google-api-core==2.24.2
docker==7.1.0
wandb==0.20.1
propcache==0.3.1
aiosignal==1.3.2
shapely==2.1.0
PyYAML==6.0.2
httpx==0.28.1
Wikipedia-API==0.8.1
rpds-py==0.22.3
smmap==5.0.2
importlib_metadata==8.7.0
sqlparse==0.5.3
SQLAlchemy==2.0.40
starkbank-ecdsa==2.2.0
databricks-sdk==0.56.0
webdriver-manager==4.0.2
filetype==1.2.0
typing_extensions==4.13.0
bleach==6.2.0
altair==5.5.0
googleapis-common-protos==1.69.2
uvicorn==0.34.3
platformdirs==4.3.6
hydra-core==1.3.2
langgraph==0.3.21
exchange_calendars==4.9
marshmallow==3.26.1
pydantic==2.11.1
frozendict==2.4.6
zipp==3.23.0
langchain-google-genai==2.1.2
pytz==2025.1
annotated-types==0.7.0
grpcio-status==1.71.0
httplib2==0.22.0
wsproto==1.2.0
pycryptodome==3.23.0
streamlit==1.41.1
omegaconf==2.3.0
six==1.17.0
proto-plus==1.26.1
opentelemetry-api==1.34.1
greenlet==3.1.1
sklearn-compat==0.1.3
attrs==25.1.0
pyarrow==19.0.0
google-genai==1.3.0
narwhals==1.24.2
websocket-client==1.8.0
MarkupSafe==3.0.2
